{#  Template when the user is logged in #}

<a href="{{ path('app_search') }}" data-tooltip="Search notes" class="p-2 rounded-md bg-slate-200 md:hidden tooltip">
    {{ ux_icon('mdi:search', { 'class': 'h-6 w-6 text-neutral-600 hover:text-violet-600' }) }}
</a>
<a href="{{ path('app_note_all')}}" data-tooltip="All notes" class="p-2 rounded-md bg-slate-200 tooltip">
    {{ ux_icon('mdi:archive-outline', { 'class': 'h-6 w-6 text-neutral-600 hover:text-violet-600' }) }}
</a>
<a href="{{ path('app_note_new')}}" data-tooltip="Add a new note" class="p-2 rounded-md bg-slate-200 tooltip">
    {{ ux_icon('mdi:plus-box-outline', { 'class': 'h-6 w-6 text-neutral-600 hover:text-violet-600' }) }}
</a>
<a href="{{ path('app_profile_edit')}}" data-tooltip="Edit your profile" class="p-2 rounded-md bg-slate-200 tooltip">
    {{ ux_icon('mdi:cog-outline', { 'class': 'h-6 w-6 text-neutral-600 hover:text-violet-600' }) }}
</a>
<a  href="{{ path('app_note_user', { 'username': app.user.username })}}" 
    class="w-11 h-11 bg-cover bg-center shadow-md rounded-full hover:scale-95 transition-transform duration-200 ease-in-out"
    style="background-image: url('{{ '/images/uploads/' ~ app.user.image ?? 'default.png' }}')"
>
</a>